@import 'tailwindcss';
@tailwind utilities;

@theme {
  --color-purple10: #9e6efe0f;
  --color-brandColor: #9e6efe;
  --color-gray10: #6a6969;
  --color-dark05: #272727;
  --color-dark10: #262626;
  --color-dark20: #414141;
  --color-dark30: #737373;
  --color-dark40: #ffffff;
  --font-display: 'Poppins', sans-serif;
}

:root {
  --background: #f3f4f8;
  --foreground: #272727;
}

* {
  box-sizing: border-box;
}
