@import 'tailwindcss';

@theme {
  --color-purple10: #9e6efe0f;
  --color-brandColor: #9e6efe;
  --color-gray10: #6a6969;
  --color-dark05: #272727;
  --color-dark10: #262626;
  --color-dark20: #414141;
  --color-dark30: #737373;
  --color-dark40: #ffffff;
}

:root {
  --background: #f3f4f8;
  --foreground: #272727;
}

body {
  background: var(--background);
  color: var(--foreground);
  display: flex;
  height: 100dvh;
  font-family: Poppins, sans-serif;
}
